version: 1.0.{build}
branches:
  only:
    - NexeyaSGara-CI

image: Visual Studio 2015

platform: x64

configuration: Release
  
environment:
  BOOST_ROOT: "C:\Libraries\boost_1_63_0"

# scripts to run before build
before_build:
  - cmake -G "Visual Studio 14 2015 Win64"
  - msbuild Project.sln
  - nmake


