version: 1.0.{build}
branches:
  only:
    - NexeyaSGara-CI

image: Visual Studio 2015

environment:
  matrix:
    - platform: win32
      ARCH: win32-msvc9
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 9 2008"
      MSVCVERSION: "v90"
      MSVCYEAR: "vs2008"
      MSVCABR: "9"
      VC_VER: 9.0
      WITH_SODIUM: OFF
      WITH_TWEETNACL: ON
      PYTHONPATHOMNI: "/cygdrive/c/Python27/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files (x86)\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
    - platform: x64
      ARCH: x64-msvc9
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 9 2008 Win64"
      MSVCVERSION: "v90"
      MSVCYEAR: "vs2008"
      MSVCABR: "9"
      VC_VER: 9.0
      WITH_SODIUM: OFF
      WITH_TWEETNACL: ON
      PYTHONPATHOMNI: "/cygdrive/c/Python27/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files (x86)\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
    - platform: x64
      ARCH: x64-msvc10
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 10 2010 Win64"
      MSVCVERSION: "v100"
      MSVCYEAR: "vs2010"
      MSVCABR: "10"
      VC_VER: 10.0
      WITH_SODIUM: ON
      WITH_TWEETNACL: ON
      PYTHONPATH: c:\Python33-x64\
      PYTHONPATHOMNI: "/cygdrive/c/Python33-x64/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
    - platform: x64
      ARCH: x64-msvc14
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
      MSVCVERSION: "v140"
      MSVCYEAR: "vs2015"
      MSVCABR: "14"
      VC_VER: 14.0
      WITH_SODIUM: ON
      WITH_TWEETNACL: ON
      PYTHONPATH: c:\Python35-x64\
      PYTHONPATHOMNI: "/cygdrive/c/Python35-x64/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
    - platform: x64
      ARCH: x64-msvc12
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 12 2013 Win64"
      MSVCVERSION: "v120"
      MSVCYEAR: "vs2013"
      MSVCABR: "13"
      VC_VER: 13.0
      WITH_SODIUM: ON
      WITH_TWEETNACL: ON
      PYTHONPATHOMNI: "/cygdrive/c/Python33-x64/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
    - platform: win32
      ARCH: win32-msvc10
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 10 2010"
      MSVCVERSION: "v100"
      MSVCYEAR: "vs2010"
      MSVCABR: "10"
      VC_VER: 10.0
      WITH_SODIUM: ON
      WITH_TWEETNACL: ON
      PYTHONPATH: c:\Python33\
      PYTHONPATHOMNI: "/cygdrive/c/Python33/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files (x86)\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
init:
  # go to hell Xamarin (see http://help.appveyor.com/discussions/problems/4569)
  - del "C:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"
  #RDP from start
  #- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  # Tango IDL
  - cmd: set TANGOIDLDIR=C:\projects\tangoidl
  - cmd: git clone --depth 1 --quiet https://github.com/tango-controls/tango-idl %TANGOIDLDIR%
  # LibSodium
  - cmd: cd "C:\projects\"
  - cmd: set LIBSODIUMDIR=C:\projects\libsodium
  - appveyor DownloadFile https://download.libsodium.org/libsodium/releases/libsodium-1.0.12-msvc.zip
  - cmd: 7z -y x libsodium-1.0.12-msvc.zip -o%LIBSODIUMDIR%
  # ZMQ
  - cmd: set LIBZMQ_SOURCEDIR=C:\projects\libzmq
  - cmd: git clone --depth 1 --quiet https://github.com/zeromq/libzmq.git "%LIBZMQ_SOURCEDIR%"
  - cmd: set ZMQHPPDIR=C:\projects\zmq
  - cmd: git clone --depth 1 --quiet https://github.com/zeromq/cppzmq.git %ZMQHPPDIR%
  - cmd: cd "C:\projects\"
  - cmd: if %platform%==win32 appveyor DownloadFile https://s3-us-west-2.amazonaws.com/ai.bonsai.chocolatey-hosting/ZeroMQ-4.0.4~miru1.0-x86.exe
  - cmd: if %platform%==x64 appveyor DownloadFile https://s3-us-west-2.amazonaws.com/ai.bonsai.chocolatey-hosting/ZeroMQ-4.0.4~miru1.0-x64.exe
  - cmd: if %platform%==win32 ZeroMQ-4.0.4~miru1.0-x86.exe /S
  - cmd: if %platform%==x64 ZeroMQ-4.0.4~miru1.0-x64.exe /S
  # OmniOrb
  - cmd: cd "C:\projects\"
  - appveyor DownloadFile https://downloads.sourceforge.net/project/omniorb/omniORB/omniORB-4.2.1/omniORB-4.2.1-2.tar.bz2
  - cmd: 7z x omniORB-4.2.1-2.tar.bz2
  - cmd: 7z x omniORB-4.2.1-2.tar
  #Pthread-Win32
  - cmd: cd "C:\projects\"
  - cmd: md pthreads-win32
  - cmd: cd "C:\projects\"
  - appveyor DownloadFile "http://www.mirrorservice.org/sites/sources.redhat.com/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip"
  - cmd: 7z -y x pthreads-w32-2-9-1-release.zip -oC:\projects\pthreads-win32\
  - cmd: cd "C:\projects\cppTango"
install: 
  - cmd: cd "C:\projects\"
  # Tango IDL
  - cmd: cd "C:\projects\tangoidl"
  - cmd: if %ARCH%==win32-msvc9 call "C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vsvars32.bat"
  - cmd: if %ARCH%==win32-msvc9 set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path%
  - cmd: if %ARCH%==x64-msvc9 call "C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vcvars64.bat"
  - cmd: if %ARCH%==x64-msvc9 set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path%
  - cmd: if %ARCH%==win32-msvc10 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vsvars32.bat"
  - cmd: if %ARCH%==win32-msvc10 set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path%
  - cmd: if %ARCH%==x64-msvc10 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvars64.bat"
  - cmd: if %ARCH%==x64-msvc10 "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 /%configuration%
  - cmd: if %ARCH%==x64-msvc10 set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path%
  - cmd: if %ARCH%==x64-msvc12 call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvars64.bat"
  - cmd: if %ARCH%==x64-msvc14 call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvars64.bat"
  - cmd: echo "Generator='%CMAKE_GENERATOR%'"
  - cmd: echo "Platform='%Platform%'"
  - cmd: set PYTHONPATH=%PYTHONPATH%
  - cmd: cmake -G "%CMAKE_GENERATOR%"
  - cmd: cmake --build ./ --target install --config %configuration%
  # libsodium
  - cmd: set SODIUM_LIBRARY_DIR="%LIBSODIUMDIR%\Win32\%Configuration%\%MSVCVERSION%\dynamic"
  - cmd: set SODIUM_INCLUDE_DIR="%LIBSODIUMDIR%\include"
  - if %WITH_SODIUM%==ON cmd: move "%SODIUM_LIBRARY_DIR%\libsodium.lib" "%SODIUM_LIBRARY_DIR%\sodium.lib"
  # zmq
  - cmd: cd "C:\projects\"
  - cmd: set LIBZMQ_BUILDDIR=C:\projects\build_libzmq
  - cmd: md "%LIBZMQ_BUILDDIR%"
  - cmd: cd "%LIBZMQ_BUILDDIR%"  
  #- cmd: if %WITH_SODIUM%==ON cmake -D CMAKE_INCLUDE_PATH="%SODIUM_INCLUDE_DIR%" -D CMAKE_LIBRARY_PATH="%SODIUM_LIBRARY_DIR%" -D CMAKE_CXX_FLAGS_RELEASE="/MT" -D CMAKE_CXX_FLAGS_DEBUG="/MTd" -G "%CMAKE_GENERATOR%" %LIBZMQ_SOURCEDIR%
  #- cmd: if %WITH_SODIUM%==OFF cmake -D CMAKE_CXX_FLAGS_RELEASE="/MT" -D CMAKE_CXX_FLAGS_DEBUG="/MTd" -G "%CMAKE_GENERATOR%" %LIBZMQ_SOURCEDIR%
  #- cmd: if %WITH_SODIUM%==ON msbuild /v:minimal /maxcpucount:%NUMBER_OF_PROCESSORS% /p:Configuration=%Configuration% libzmq.vcxproj
  #- cmd: if %WITH_SODIUM%==OFF msbuild /v:minimal /maxcpucount:%NUMBER_OF_PROCESSORS% /p:Configuration=%Configuration% libzmq.sln
  #- cmd: set ZEROMQ_INCLUDE_DIR="%LIBZMQ_SOURCEDIR%\include"
  #- cmd: set ZEROMQ_LIBRARY_DIR="%LIBZMQ_BUILDDIR%\lib\%Configuration%"
  #- cmd: xcopy "%LIBZMQ_SOURCEDIR%\include" "%LIBZMQ_BUILDDIR%\include\"
  #- cmd: move "%ZEROMQ_LIBRARY_DIR%\libzmq-*lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  #- cmd: move "%ZMQHPPDIR%\zmq.hpp" "%LIBZMQ_BUILDDIR%\include\"
  #- cmd: move "%ZMQHPPDIR%\zmq_addon.hpp" "%LIBZMQ_BUILDDIR%\include\"
  
  - cmd: if %platform%==win32 set ZEROMQ_INCLUDE_DIR=c:\Program Files (x86)\ZeroMQ 4.0.4\include
  - cmd: if %platform%==x64 set ZEROMQ_INCLUDE_DIR=c:\Program Files\ZeroMQ 4.0.4\include
  - cmd: if %platform%==win32 set ZEROMQ_LIBRARY_DIR=c:\Program Files (x86)\ZeroMQ 4.0.4\lib
  - cmd: if %platform%==x64 set ZEROMQ_LIBRARY_DIR=c:\Program Files\ZeroMQ 4.0.4\lib
  - cmd: if %ARCH%==win32-msvc9 move "%ZEROMQ_LIBRARY_DIR%\libzmq-v90-mt-4_0_4.lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if %ARCH%==x64-msvc9 move "%ZEROMQ_LIBRARY_DIR%\libzmq-v90-mt-4_0_4.lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if %ARCH%==win32-msvc10 move "%ZEROMQ_LIBRARY_DIR%\libzmq-v100-mt-4_0_4.lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if %ARCH%==x64-msvc10 move "%ZEROMQ_LIBRARY_DIR%\libzmq-v100-mt-4_0_4.lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if %ARCH%==x64-msvc12 move "%ZEROMQ_LIBRARY_DIR%\libzmq-v120-mt-4_0_4.lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if %ARCH%==x64-msvc14 cmake -D CMAKE_INCLUDE_PATH="%SODIUM_INCLUDE_DIR%" -D CMAKE_LIBRARY_PATH="%SODIUM_LIBRARY_DIR%" -D CMAKE_CXX_FLAGS_RELEASE="/MT" -D CMAKE_CXX_FLAGS_DEBUG="/MTd" -G "%CMAKE_GENERATOR%" %LIBZMQ_SOURCEDIR%
  - cmd: if %ARCH%==x64-msvc14 set ZEROMQ_INCLUDE_DIR="%LIBZMQ_SOURCEDIR%\include"
  - cmd: if %ARCH%==x64-msvc14 set ZEROMQ_LIBRARY_DIR="%LIBZMQ_BUILDDIR%\lib\%Configuration%"
  - cmd: if %ARCH%==x64-msvc14 xcopy "%LIBZMQ_SOURCEDIR%\include" "%LIBZMQ_BUILDDIR%\include\"
  - cmd: if %ARCH%==x64-msvc14 "%ZEROMQ_LIBRARY_DIR%\libzmq-*lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: if NOT %ARCH%==x64-msvc14 move "%ZMQHPPDIR%\zmq.hpp" "%ZEROMQ_LIBRARY_DIR%\include\"
  - cmd: if NOT %ARCH%==x64-msvc14 move "%ZMQHPPDIR%\zmq_addon.hpp" "%ZEROMQ_LIBRARY_DIR%\include\"
  - cmd: if %ARCH%==x64-msvc14 move "%ZMQHPPDIR%\zmq.hpp" "%LIBZMQ_BUILDDIR%\include\"
  - cmd: if %ARCH%==x64-msvc14 move "%ZMQHPPDIR%\zmq_addon.hpp" "%LIBZMQ_BUILDDIR%\include\"
  # OmniOrb
  - cmd: cd "C:\projects\omniORB-4.2.1"
  - cmd: set MSVCABR  = %MSVCABR%
  - cmd: set PYTHONPATHOMNI = %PYTHONPATHOMNI%
  # Editing OmniOrb config
  - cmd: cd "C:\projects\omniORB-4.2.1\src"
  - ps: (get-content c:\projects\omniORB-4.2.1\config\config.mk) | foreach-object {$_ -replace "\#platform = x86_win32_vs_${env:MSVCABR}", "platform = x86_win32_vs_${env:MSVCABR}"} | set-content c:\projects\omniORB-4.2.1\config\config.mk
  - ps: (get-content c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_${env:MSVCABR}.mk) | foreach-object {$_ -replace "\#PYTHON = /cygdrive/c/Python26/python", "PYTHON = ${env:PYTHONPATHOMNI}"} | set-content c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_$env:MSVCABR.mk
  - cmd: type "c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_%MSVCABR%.mk"
  - cmd: if %ARCH%==x64-msvc14 set path=%path%;c:\cygwin64\bin;%PYTHONPATH%
  - cmd: if NOT %ARCH%==x64-msvc14 set path=%path%;c:\cygwin64\bin
  - cmd: if %ARCH%==x64-msvc10 set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: make export
  # Tango API
  - cmd: cd "C:\projects\cppTango"
  - cmd: set BOOST_ROOT=%BOOST_ROOT%
  - cmd: set ZMQ_BASE=%ZEROMQ_LIBRARY_DIR%
  - cmd: if %ARCH%==x64-msvc14 set ZMQ_BASE=%LIBZMQ_BUILDDIR%
  - cmd: set IDL_BASE=%IDL_BIN%
  - cmd: set OMNI_BASE=%OMNI_BASE%
  - cmd: set PTHREAD_WIN=C:\projects\pthreads-win32\
  - cmd: cmake -G "%CMAKE_GENERATOR%" -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBUILD_SHARED_LIBS=TRUE

clone_folder: C:\projects\cppTango

build:
  parallel: true
  project: C:\projects\cppTango\tango.sln
  verbosity: minimal

after_build:
  # Generating installer
  - cmd: cpack -G NSIS
  - cmd: cpack -G ZIP


on_finish:
  #RDP for finish
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

artifacts:
  - path: ./*.exe
  - path: ./*.zip
  
#cache:
  #c:\projects\omniORB-4.2.1\
