version: 1.0.{build}
branches:
  only:
    - NexeyaSGara-CI

image: Visual Studio 2015

environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"

  matrix:
    - platform: x64
      ARCH: x64-msvc10
      configuration: Release
      CMAKE_GENERATOR: "Visual Studio 10 2010 Win64"
      MSVCVERSION: "v100"
      MSVCYEAR: "vs2010"
      MSVCABR: "10"
      VC_VER: 10.0
      WITH_SODIUM: OFF
      WITH_TWEETNACL: ON
      PYTHONPATH: c:\Python27\
      PYTHONPATHOMNI: "/cygdrive/c/Python27/python"
      BOOST_ROOT: C:\Libraries\boost_1_63_0
      ZMQ_BASE: C:\projects\libzmq
      IDL_BASE: C:\projects\tangoidl
      IDL_BIN: C:\Program Files (x86)\tangoidl
      OMNI_BASE: C:\projects\omniORB-4.2.1
      PYTHON_VERSION: "3.3.x" # currently 2.7.9
      PYTHON_ARCH: "64"

init:
  #RDP from start
  #- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  # Tango IDL
  - cmd: set TANGOIDLDIR=C:\projects\tangoidl
  - cmd: git clone --depth 1 --quiet https://github.com/tango-controls/tango-idl %TANGOIDLDIR%
  # LibSodium
  - cmd: set LIBSODIUMDIR=C:\projects\libsodium
  - cmd: git clone --branch stable --depth 1 --quiet "https://github.com/jedisct1/libsodium.git" %LIBSODIUMDIR%
  # ZMQ
  - cmd: set LIBZMQ_SOURCEDIR=C:\projects\libzmq
  - cmd: git clone --depth 1 --quiet https://github.com/zeromq/libzmq.git "%LIBZMQ_SOURCEDIR%"
  - cmd: set ZMQHPPDIR=C:\projects\zmq
  - cmd: git clone --depth 1 --quiet https://github.com/zeromq/cppzmq.git %ZMQHPPDIR%
  # OmniOrb
  - cmd: cd "C:\projects\"
  - appveyor DownloadFile https://downloads.sourceforge.net/project/omniorb/omniORB/omniORB-4.2.1/omniORB-4.2.1-2.tar.bz2
  - cmd: 7z x omniORB-4.2.1-2.tar.bz2
  - cmd: 7z x omniORB-4.2.1-2.tar
  #Pthread-Win32
  - cmd: cd "C:\projects\"
  - cmd: md pthreads-win32
  - cmd: cd "C:\projects\"
  - appveyor DownloadFile "http://www.mirrorservice.org/sites/sources.redhat.com/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip"
  - cmd: 7z -y x pthreads-w32-2-9-1-release.zip -oC:\projects\pthreads-win32\
  - cmd: cd "C:\projects\cppTango"
install: 
  - cmd: cd "C:\projects\"
  # Tango IDL
  - cmd: cd "C:\projects\tangoidl"
  - cmd: if %ARCH%==x64-msvc10 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" amd64
  - cmd: echo "Generator='%CMAKE_GENERATOR%'"
  - cmd: echo "Platform='%Platform%'"
  - cmd: set PYTHONPATH=%PYTHONPATH%
  - cmd: cmake -G "%CMAKE_GENERATOR%"
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: if %ARCH%==x64-msvc10 cmake --build ./ --target install --config %configuration%
  # libsodium
  - cmd: msbuild /v:detailed /maxcpucount:%NUMBER_OF_PROCESSORS% /p:Configuration=%Configuration%DLL %LIBSODIUMDIR%\builds\msvc\%MSVCYEAR%\libsodium\libsodium.vcxproj
  - cmd: set SODIUM_LIBRARY_DIR="%LIBSODIUMDIR%\bin\%Platform%\%Configuration%\%MSVCVERSION%\dynamic"
  - cmd: set SODIUM_INCLUDE_DIR="%LIBSODIUMDIR%\src\libsodium\include"
  - cmd: move "%SODIUM_LIBRARY_DIR%\libsodium.lib" "%SODIUM_LIBRARY_DIR%\sodium.lib"
  # zmq
  - cmd: cd %LIBZMQ_SOURCEDIR%
  #- cmd: if %ARCH%==win32-msvc9 set Framework35Version=v4.0
  #- cmd: if %ARCH%==x64-msvc9 set Framework35Version=v4.0
  - cmd: if %ARCH%==x64-msvc10 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" amd64
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 /%configuration%'
  - cmd: cmake -D CMAKE_INCLUDE_PATH="%SODIUM_INCLUDE_DIR%" -D CMAKE_LIBRARY_PATH="%SODIUM_LIBRARY_DIR%" -D CMAKE_CXX_FLAGS_RELEASE="/MT" -D CMAKE_CXX_FLAGS_DEBUG="/MTd" -G "%CMAKE_GENERATOR%" %LIBZMQ_SOURCEDIR%
  #- cmd: msbuild /v:minimal /p:Configuration=Dyn%Configuration%;Platform=%platform% %LIBZMQ_SOURCEDIR%\zeromq-4.1.4\builds\msvc\%MSVCYEAR%\libzmq.sln
  #- cmd: msbuild /v:minimal /p:Configuration=Ltcg%Configuration%;Platform=%platform% %LIBZMQ_SOURCEDIR%\zeromq-4.1.4\builds\msvc\%MSVCYEAR%\libzmq.sln
  #- cmd: msbuild /v:minimal /p:Configuration=Static%Configuration%;Platform=%platform% %LIBZMQ_SOURCEDIR%\zeromq-4.1.4\builds\msvc\%MSVCYEAR%\libzmq.sln
  - cmd: msbuild /v:minimal /maxcpucount:%NUMBER_OF_PROCESSORS% /p:Configuration=%Configuration% libzmq.vcxproj
  - cmd: set ZEROMQ_INCLUDE_DIR="%LIBZMQ_SOURCEDIR%\include"
  - cmd: set ZEROMQ_LIBRARY_DIR="%LIBZMQ_BUILDDIR%\lib\%Configuration%"
  - cmd: xcopy "%LIBZMQ_SOURCEDIR%\include" "%LIBZMQ_BUILDDIR%\include\"
  - cmd: move "%ZEROMQ_LIBRARY_DIR%\libzmq-*lib" "%ZEROMQ_LIBRARY_DIR%\libzmq.lib"
  - cmd: move "%ZMQHPPDIR%\zmq.hpp" "%LIBZMQ_BUILDDIR%\include\"
  - cmd: move "%ZMQHPPDIR%\zmq_addon.hpp" "%LIBZMQ_BUILDDIR%\include\"
  # OmniOrb
  - cmd: cd "C:\projects\omniORB-4.2.1"
  # Editing OmniOrb config
  - cmd: cd "C:\projects\omniORB-4.2.1\src"
  - cmd: if %ARCH%==x64-msvc9 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" amd64
  - cmd: set MSVCABR  = %MSVCABR%
  - cmd: set PYTHONPATHOMNI = %PYTHONPATHOMNI%
  #- cmd: if %ARCH%==win32-msvc9 set Framework35Version=v3.5
  - ps: (get-content c:\projects\omniORB-4.2.1\config\config.mk) | foreach-object {$_ -replace "\#platform = x86_win32_vs_${env:MSVCABR}", "platform = x86_win32_vs_${env:MSVCABR}"} | set-content c:\projects\omniORB-4.2.1\config\config.mk
  - ps: (get-content c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_${env:MSVCABR}.mk) | foreach-object {$_ -replace "\#PYTHON = /cygdrive/c/Python26/python", "PYTHON = ${env:PYTHONPATHOMNI}"} | set-content c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_$env:MSVCABR.mk
  - cmd: type "c:\projects\omniORB-4.2.1\mk\platforms\x86_win32_vs_%MSVCABR%.mk"
  - cmd: set path=%path%;c:\cygwin64\bin
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: if %ARCH%==x64-msvc14 call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
  - cmd: make export
  # Tango API
  - cmd: cd "C:\projects\cppTango"
  - cmd: set BOOST_ROOT=%BOOST_ROOT%
  - cmd: set ZMQ_BASE=%LIBZMQ_SOURCEDIR%\zeromq-4.1.4
  - cmd: set IDL_BASE=%IDL_BIN%
  - cmd: set OMNI_BASE=%OMNI_BASE%
  - cmd: set PTHREAD_WIN=C:\projects\pthreads-win32\
  - cmd: set
  - cmd: if %ARCH%==x64-msvc9 call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" _amd64
  - cmd: cmake -G "%CMAKE_GENERATOR%" -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBUILD_SHARED_LIBS=TRUE 
  #- cmd: cmake --build ./ --target install -- /p:Configuration=Release 
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  #- cmd: msbuild /v:minimal /p:Configuration=%Configuration% tango.sln
  - cmd: cmake --build ./ --target install  --config %configuration%
  - cmd: cmake --build ./ --target ALL_BUILD  --config %configuration%
  # Generating installer
  - cmd: cmake -G "%CMAKE_GENERATOR%"
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: cpack -G NSIS
  - cmd: set path=C:\Windows\Microsoft.NET\Framework\v4.0.30319;%path% 
  - cmd: cpack -G ZIP
  - cmd: set

clone_folder: C:\projects\cppTango

build:
  parallel: true
  project: C:\projects\cppTango\tango.sln
  verbosity: minimal

after_build:

on_finish:
  #RDP for finish
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

artifacts:
  - path: ./*.exe
  - path: ./*.zip
  
cache:
  c:\projects\omniORB-4.2.1\
